{% extends 'base.html.twig' %}
{% block body %}
  <section class="vh-100 mt-5">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/Login_re_4vu2.svg" class="img-fluid mt-5" alt="Sample image"></div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form action="{{ path('app_user_login') }}" method="post">
              <input class="form-control mb-4 p-4" type="text" name="email" placeholder="E-mail Address" required />
              <input class="form-control p-4" type="password" name="password" placeholder="Password" required />
              <input type="checkbox" id="chk1"/>
              <label for="chk1" class="mb-4">Remmeber me</label>
              <div class="form-button">
                <button id="submit" type="submit" class="btn btn-primary btn-lg px-4 py-2">Login</button>
                <a href="forget.html">Forget password?</a>
              </div>
            </form>
            <div class="text-center text-lg-start mt-4">
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a href="/register" class="link-danger">
                  Register
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  